<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <title>Webページ作成を学ぼう！</title>

</head>

<body>
    <header>
        <ul calss="left-header"> <!--左のヘッダー-->
            <li><a href="#allcourse">コース一覧</a></li>
        </ul>
        <ul class="right-header">
            <li><a href="/logout">ログアウト</a></li>
            <li><a href="/contents/header/setting">設定</a></li>
        </ul>
    </header>
    <main>
        <article>
            <div class="user-info"> <!--ユーザー情報(ID/アイコン/レベル)-->
                <div class="icon">
                    <img class="iconpng" src="/images/icon.png" width="80" height="80">
                    <h1>
                        <%= name %>
                    </h1>
                </div>
                <div class="previous">
                    <p>前回学習したコース</p>
                    <p>
                        <a class="previous-anchor" href="/contents/<%= LATEST_COURSE.type %>/<%= LATEST_COURSE.idx %>">
                            <%= LATEST_COURSE.idx %>. <%= LATEST_COURSE.title %>
                        </a>
                    </p>
                </div>
            </div>
            <!-- <div class="coursemenu">
                <div class="lasttime">
                    <h1>前回学習したコース：</h1><br>
                    <input type="submit" class="nextbutton" value="続きから">
                </div> -->
                
                <div class="allcourse" id="allcourse">
                    <h1>コース一覧</h1>
                    <div class="course beginner">
                        <h1>はじめに</h1>
                        <a href="/contents/beginners/0">Webページを作るために知っておくべきこと</a>
                    </div>
                    <div class="course html">
                        <!--<h1>HTML</h1>-->
                        <a href="/contents/html/list" style="font-size: 30px;">HTMLのコース</a>
                    </div>
                    <div class="course css">
                        <!--<h1>CSS</h1>-->
                        <a href="/contents/css/list"style="font-size: 30px;">CSSのコース</a>
                    </div>
                    <div class="course javascript">
                        <!--<h1>Javascript</h1>-->
                        <a href="/contents/js/list"style="font-size: 30px;">Javascriptのコース</a>
                    </div>
                </div>
            </div>
        </article>
        <aside>
            <script>
                const loginDateArray = ["<%-loginDates.join("\"\,\"")%> "];
            </script>

            <div class="wrapper">
                <!-- xxxx年xx月を表示 -->
                <h1 id="header"></h1>

                <!-- ボタンクリックで月移動 -->
                <div id="next-prev-button">
                    <button id="prev" onclick="prev()">←</button>
                    <button id="next" onclick="next()">→</button>
                </div>
                <!-- カレンダー -->
                <div id="calendar"></div>
                <div>
                    <br>
                    <h1>学習した日：<span class="green">◼︎</span> 今日の日付：<span class="D65E72">◼︎</span></h1>
                </div>
                <div class="first pie">
                    <span>HTML</span>
                    </div>
                    <div class="second pie">
                    <span>CSS</span>
                    </div>
                    <div class="third pie">
                    <span>JS</span>
                </div>
                <div class="friends">
                    <h1>フレンド一覧</h1>
                </div>
            </div>
        </aside>
    </main>

    <footer>
        <div class="footer-wrap">
            <ul>
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">ヘルプ</a></li>
            </ul>
            <p>CopyRight&copy;NakamuraAino All Rights Reserverd.</p>
        </div>
    </footer>
    <script src="/javascripts/calender.js"></script>
    <script src="/javascripts/progressbar.js"></script>

    <style>
        .pie{
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: auto;
            margin: 30px;
            width: 100px;
            height: 100px;
            font-size: 26px;
            font-weight: 700;
            border-radius: 50%;
        }
        
        .first{
            background-image: radial-gradient(#f2f2f2 60%, transparent 61%), conic-gradient(#12a568 0% 60%, #d9d9d9 60% 100%);
        }
        .second{
            background-image: radial-gradient(#f2f2f2 60%, transparent 61%), conic-gradient(#c3a40a 0% 60%, #d9d9d9 60% 100%);
        }
        .third{
            background-image: radial-gradient(#f2f2f2 60%, transparent 61%), conic-gradient(#d5525f 0% 60%, #d9d9d9 60% 100%);
        }

        body {
            background-color: white;
            margin: 0;
            color: #707070;
            font-family:
                'Zen Maru Gothic';
        }

        li {
            list-style: none;
            float: left;
            padding: 35px 20px;
            font-size: 20px;
        }

        header {
            background-color: #ebebe6;
            height: 100px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        main {
            padding: 40px 0 40px 40px;

        }

        article {
            width: 600px;
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
        }

        aside {
            width: 500px;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }

        .user-info {
            width: 500px;
            height: 200px;
            background-color: #ebebe6;
            margin-bottom: 40px;
        }
        .user-info p{
            padding-left: 15px;
        }

        .previous-anchor {
            font-size: 25px;
        }

        .icon {
            display: flex;
        }

        .icon h1 {
            padding-top: 10px;
        }

        .iconpng {
            padding: 20px 10px;
        }

        .lasttime {
            height: 200px;
            background-color: #ebebe6;
            margin-bottom: 40px;
        }

        .coursemenu {
            padding-top: 10px;
        }


        .coursemenu h1 {
            color: #9d8e6e;
            padding: 20px;
        }

        .coursemenu a {
            color: #9d8e6e;
            font-size: 20px;
            padding: 0 20px 0 10px;
            border-bottom: 3px solid #7b7a62;
            border-left: 3px solid #7b7a62;
        }

        .course {
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid #fff;
        }

        .allcourse {
            height: 470px;
            background-color: #ebebe6;
        }

        footer {
            width: 100%;
            background-color: #ebebe6;
        }

        footer li{
            padding: 0px 20px;
        }


        .footer-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            color: #707070;
            transition: 0.3s ease-in-out;
            text-decoration: none;
        }

        .a:hover {
            color: #584e3b;
            text-decoration: none;
        }

        .green {
            color: green;
            font-size: 30px;
        }

        .D65E72 {
            color: #D65E72;
            font-size: 30px;
        }

        .nextbutton {
            padding: 10px 30px;
            background-color: #9d8e6e;
            color: white;
            margin: 10px 600px;

        }

        .friends {
            width: 500px;
            height: 100px;
            background-color: #ebebe6;
            margin-top: 150px;
        }

        /**/
        .wrapper {
            max-width: 500px;
            margin: 0 auto;
            color: #666;
        }

        #header {
            text-align: center;
            font-size: 24px;
            width: 100%;
            margin: 1rem 0 0;
        }

        /*カレンダー*/
        #calendar {
            text-align: center;
            width: 100%;
        }

        table {
            outline: 2px solid #ddd;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            color: #000;
            width: 30px;
        }

        th,
        td {
            outline: 1px solid #ddd;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        /*日曜日*/
        td:first-child {
            color: red;
        }

        /*土曜日*/
        td:last-child {
            color: blue;
        }

        /*前後月の日付*/
        td.disabled {
            color: #ccc;
        }

        /*本日*/
        td.today {
            background-color: #D65E72;
            color: #fff;
        }

        /*本日*/
        td.login-date {
            background-color: green;
            color: #fff;
        }

        /*ボタン*/
        #next-prev-button {
            position: relative;
        }

        #next-prev-button button {
            cursor: pointer;
            background: #D4BB92;
            color: #fff;
            border: 1px solid #B78D4A;
            border-radius: 4px;
            font-size: 1rem;
            padding: 0.5rem 2rem;
            margin: 1rem 0;
        }

        #next-prev-button button:hover {
            background-color: #D4BB92;
            border-color: #D4BB92;
        }

        #prev {
            float: left;
        }

        #next {
            float: right;
        }
    </style>
</body>

</html>