<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/contents.css">

    <title>CSSのコース一覧</title>
</head>

<body>
    <header>
        <h2>CSSのコース一覧</h2>
    </header>
    <main>
        <article>
            <% for (let i=0; i<5; i++) { %>
                <div>
                    <a href="<%= COURSES[i].idx %>"><%= COURSES[i].idx %>. <%= COURSES[i].title %></a>
                </div>
            <% } %>
        </article>
        <aside>
            <% for (let i=5; i<COURSES.length; i++) { %>
                <div>
                    <a href="<%= COURSES[i].idx %>"><%= COURSES[i].idx %>. <%= COURSES[i].title %></a>
                </div>
            <% } %>
            <a href="/">ホームに戻る</a>
        </aside>
    </main>
    <footer>

    </footer>

    <style>
         body {
            background-color: #ebebe6;
            font-family:'Zen Maru Gothic';
        }

        article {
            width: calc(45% - 4px);
            display: inline-block;
            vertical-align: top;
            margin: 0 20px;
        }

        aside {
            width: calc(45% - 4px);
            display: inline-block;
            vertical-align: top;
        }

        div {
            border: solid 2px #9d8e6e;
            border-radius: 10px;
            background-color: white;
            margin-bottom: 15px;
            height: 100px;

        }

        a {
            display: block;
            font-size: 25px;
            text-decoration: none;
            padding-left: 10px;
            margin: 25px 0;
            color: #9d8e6e;
            font-weight: bold;
        }
        </style>

</body>

</html>